.notification {
  text-align: center;
  color: #fff;
  padding: 0.5vw 5vw;
  border-radius: 5px;
  position: absolute;
  top: 5vw;
  left: -20vw;
  animation: slide;
  animation-duration: 3s;
  z-index: 9999;
}

@keyframes slide {
  0% {
    left: -20vw;
  }

  35% {
    left: 7vw;
  }

  70% {
    left: 7vw;
  }

  100% {
    left: -20vw;
  }
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

.notification-button {
  position: absolute;
  right: 0.5vw;
  top: -0.2vw;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}
