

.background {
  background-color: rgba(0, 0, 0, 0.527);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.content {
  width: 40vw;
  padding: 2vw;
  background-color: #fff;
  position: absolute;
  border-radius: 0.5vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
