<div class="subs-wrapper" *ngIf="subscriptions$ | async as subscription">
  <div class="sub" *ngFor="let sub of subscription">
    <h4 class="sub-title">
      {{sub.name}}
    </h4>
    <div class="sub-info">
      <p>
        Rating: {{sub.rating}}
      </p>
      <p>
        Price: {{sub.price}}
      </p>
    </div>
    <ul class="sub-benefits">
      <li class="sub-benefits-item" *ngFor="let benefit of sub.benefits">
        {{benefit}}
      </li>
    </ul>
    <button>Buy </button>
  </div>
</div>
