<div class="news">
  <div class="news-header">
    <div class="author">
      <img [src]="news.author.avatar" alt="">
      <div>
        <p class="author-name">
          {{news.author.username}}
        </p>
        <p>{{news.createdDate | date:'YYYY, MMMM dd hh:mm'}}</p>
      </div>
    </div>
    <div class="news-comments-box">
      <svg width="1.5vw" height="1.5vw" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.666016 17.3332V2.33317C0.666016 1.87484 0.829349 1.48234 1.15602 1.15567C1.48213 0.829559 1.87435 0.666504 2.33268 0.666504H15.666C16.1243 0.666504 16.5168 0.829559 16.8435 1.15567C17.1696 1.48234 17.3327 1.87484 17.3327 2.33317V12.3332C17.3327 12.7915 17.1696 13.184 16.8435 13.5107C16.5168 13.8368 16.1243 13.9998 15.666 13.9998H3.99935L0.666016 17.3332ZM2.33268 13.3123L3.31185 12.3332H15.666V2.33317H2.33268V13.3123Z"
          fill="#fff" />
      </svg>

      <div>{{news.comments.length}}</div>
    </div>
  </div>
  <div class="news-body">
    <h3 [routerLink]="['/news' , news.id]">{{news.title}}</h3>
    <!-- <p>{{news.description | slice:0:100}}...</p> -->
    <p>{{news.description | slice:0:100}}...</p>
  </div>

  <div class="news-footer">
    <a [routerLink]="['/news',news.id]">read more</a>
    <div class="news-footer-tags">
      <span *ngFor="let category of news.categories">{{ category }}</span>
    </div>
  </div>
</div>
